.about-us {
  
  h2 {
    margin-top: 50px;
    margin-bottom:30px;
  }
  section {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  #profile-pic {
    width: 400px;
    display: block;
    margin: auto;
  }

  a {
    img {
      width: 100px;
    }
  }
}