header {
  height: 35px;
  background-color: $grey;
  #left-block {
    width: 50%;
    display: inline-block;
    nav {
      ul {
        // text-align: center;
        list-style-type: none;
      }
      
      li {
        display: inline;
        // padding: 7px;
        font-size: $font * .4;
        line-height: 35px;
        
        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
  #right-block {
    float: right;
    
    button {
      a {
        text-decoration: none;
        color: $white;
      }
      color: $white;
      font-size: $font * .4;
      background-color: $golden;
      margin-top: 3px;
      margin-right: 15px
    }
  }



}

