#profile-page-background {
  width: 100%;
  position: relative;
  height: 800px;
  #profile-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 500px;
    margin: auto;
    h4 {
      margin: 15px;
    }
    ul {
      margin: 15px;
    }
    li {
      list-style: square;
    }

    h2, p, input, h3 {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    input {
      width: 200px;
      display: block;
      margin : 30px auto;
    }
  }
}
