#site-intro-container {
  width: 60%;
  margin: auto;

  #site-name {
    height: 100px;
    h1 {
      line-height: 100px;
      color: $coral;
      text-align: center;
    }
  }

  #site-description {
    h4 {
      color: $white;
    }
  }

  .start-button {
    button {
      a {
        text-decoration: none;
        color: $white;
      }
      color: $white;
      font-size: $font * .4;
      background-color: $golden;
      margin-top: 3px;
      margin-right: 15px
    }
  }
}