<!DOCTYPE html>

{% load static %}
{% load sass_tags %}

<html lang="en">
<head>
  <link href="{% sass_src '_base.scss' %}" rel="stylesheet" type="text/css" />
  <title>Exquisite Noise</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url "profile" %}">Profile</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url "admin:index" %}">Admin</a></li>
        {% endif %}
        <li><a href="{% url "auth_logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "registration_register" %}">Signup</a></li>
        <li><a href="{% url "auth_login" %}">Signin</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }}</h3>
    {% endif %}
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
</body>
</html>
