{% extends 'generic/base.html' %}

{% block content %}
<div id="profile-page-background">

  <div id="profile-page">

    <h2>{{ user.username|title }}'s Stories</h2>
    <h4>Created</h4>
    <ul>
      {% for story in created %}
      <li><a href="{% url "detail" clip_id=story.id %}">{{story.topic}}</a></li>
      {% endfor %}
    </ul>
    
    <h4>Contributed</h4>
    <ul>
      {% for story in contributed %}
      <li><a href="{% url "detail" clip_id=story.id %}">{{story.topic}}</a></li>
      {% endfor %}

    </ul>
  </div>

</div>
{% endblock %}
