{% extends 'generic/base.html' %}
{% load static %}

{% block content %}

<div class="add-new-audio container">
  <h2>Play clip and continue the story!</h2>

  {% if story.topic %}
  <h4>{{story.topic}}</h4>
  {% endif %}

  <audio src="{{story.audio_file.url}}" controls></audio>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static "recorder-add.js" %}"></script>
<script src="{% static "csrf.js" %}"></script>
{% endblock %}
