{% extends 'generic/base.html' %}
{% load static %}

{% block content %}
<div class="add-new-audio container">
  <h2>Start new story!</h2>
  <form method="post" enctype="multipart/form-data" id="new-audio-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static "recorder.js" %}"></script>
<script src="{% static "csrf.js" %}"></script>
{% endblock %}
