{% extends 'generic/base.html' %}
{% load static %}

{% block content %}
<div class="add-new-audio container">
  <h2>Start new story!</h2>
  <div class="wrapper">

    <h1>Tyler's Forked Web dictaphone</h1>

    <section class="main-controls">
      <canvas class="visualizer" height="60px"></canvas>
      <div id="buttons">
        <button class="record">Record</button>
        <button class="stop">Stop</button>
      </div>
    </section>

    <section class="sound-clips">
    </section>
  </div>
  
  <form method="post" enctype="multipart/form-data" id="new-story-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
  </form>


  <script src="{% static "scripts/install.js" %}"></script>
  <script src="{% static "scripts/mediaDevices-getUserMedia-polyfill.js" %}"></script>
  <script src="{% static "scripts/app.js" %}"></script>
</div>
{% endblock %}
